<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2P</title>
    <link href='../../../css/user.css' rel='stylesheet'> 
</head>
<body>
    <header>
        <a href='/user/home' id='acct'>
            <h3>Home</h3>
        </a>
        <div id='title'>
            <h1>P2P Betting</h1>
            <h3>The industries' first <span>peer-to-peer</span> betting app!</h3>
        </div>
        <div id='authLink'>
            <a href='/auth/signOut'>Sign Out</a>
        </div>
    </header>
    <main>
        <h3><%= user.fName + '   ' + user.lName + "'s    Account"%></h3>
        <div id='balance'>
            <p>Available Balance: </p>
            <p><%= '  $' + user.bal %></p>
        </div>
        <div id='friendActions'>
            <a id='message' href="/user/friend/message">Message <%= user.fName%></a>
            <a id='offerBet' href='/user/friend/offerBet'>Offer <%= user.fName%> a Bet</a>
        </div>
              
    </main>
    <footer>
        <div id='footerNav'>
            <a id='friends' href='/user/friends'>
                <p>Friends</p>
                <p><%= user.friends.length %></p>
            </a>
            <a id='availableBets'>
                <p>Available Bets</p>
            </a>
            <a id='offerBet'>
                <p>Offer Bet to Network</p>
            </a>
        </div>
    </footer>
</body>

</html>